.hoverEffect {
  border: 3px solid transparent;
}
.hoverEffect:hover {
  background-color: #5f3dc4;
}
.hoverEffect:focus {
  border: #5f3dc4 3px solid;
}
.btn--secondary:focus {
  border: #5f3dc4 2px solid;
}
/*color 0092C9, 100% not in config with 1 use*/
.text-accent:hover {
  color: #0092c9;
}

.btn--secondary:hover {
  background-color: #fafafc;
}
.btn--primary {
  border: 9px solid red;
}
.btn--primary {
  @apply bg-primary rounded-full text-white font-bold hoverEffect flex items-center justify-center content-center focus:outline-none;
}
.btn--primary--disabled {
  @apply bg-opacity-25 bg-primary rounded-full text-white font-bold outline-none flex items-center justify-center content-center cursor-not-allowed;
}
.btn--secondary {
  @apply text-primary bg-white font-bold border-2 border-primary rounded-full flex items-center justify-center content-center focus:outline-none;
}

.btn--secondary--disabled {
  @apply border-2 border-grey-shd2 bg-white rounded-full text-grey-shd2 font-bold outline-none flex items-center justify-center content-center cursor-not-allowed;
}
.tab-poll {
  @apply group text-sm relative flex items-center justify-around px-3.5 py-1.5 h-14 border border-grey border-opacity-0 bg-grey-shd7  hover:bg-white hover:border-opacity-100  rounded-full focus:outline-none transition duration-500 ease-in-out;
}
.tab-poll {
  padding-right: 12px;
}
.checkmark-overlay {
  @apply h-4 w-4 rounded-full border border-primary  bg-white text-transparent absolute left-0 top-1 mr-2 hover:bg-grey-shd4 transition duration-500 ease-in-out;
}

input:checked ~ .checkmark-overlay {
  background-color: #7048e8;
}

.checkmark-overlay:after {
  content: '';
  position: absolute;
  display: none;
}
/* Show the indicator (dot/circle) when checked */
input:checked ~ .checkmark-overlay:after {
  display: block;
}
/* Style the indicator (dot/circle) */
.checkmark-overlay:after {
  top: 3px;
  left: 3px;
  width: 6px;
  height: 6px;
  border-radius: 999px;
  background: white;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
}

/*************************************Safei Section End******************************/
.radio__container {
  @apply block h-6 w-6 relative cursor-pointer rounded-full group;
}

/* Hide the browser's default radio button */
.radio__input {
  @apply opacity-0;
}

/* Create a custom radio button */
.radio__checkmark {
  @apply flex justify-center items-center absolute top-0 left-0 h-6 w-6 bg-white border border-solid border-primary rounded-full;
}

/* On mouse-over, add a grey background color */
.radio__checkmark {
  @apply group-hover:bg-grey-shd5;
}

/* When the radio button is checked, add a blue background */
.radio__input:checked ~ .radio__checkmark {
  @apply bg-primary;
}

.radio__dot {
  @apply w-2 h-2 hidden bg-white rounded-full;
}

/* Show the indicator (dot/circle) when checked */
.radio__input:checked ~ .radio__checkmark .radio__dot {
  @apply block;
}
.hover-state:hover {
  background-color: #5f3dc4;
}

.focus-state:focus {
  border: 2px solid #5034a6;
}

.opacity {
  opacity: 0.24;
}

.btn-primary {
  @apply bg-primary text-white rounded-full hover-state focus:outline-none focus-state flex items-center justify-center content-center mb-5;
}

.btn-primary-opacity {
  @apply bg-primary bg-opacity-24 text-white rounded-full focus:outline-none flex items-center justify-center content-center mb-5;
}

.btn-secondary {
  @apply bg-white text-primary border border-primary rounded-full hover:bg-grey-bg focus:outline-none focus-state flex items-center justify-center content-center mb-5;
}

.btn-secondary-opacity {
  @apply bg-white opacity-25 text-primary border border-primary rounded-full  focus:outline-none flex items-center justify-center content-center mb-5;
}

.check-it {
  @apply w-l h-l appearance-none outline-none border border-grey-shd4 rounded-sm text-white align-baseline;
}

.svg-check {
  @apply absolute bottom-3.5 invisible;
}

.check-box input:checked,
.check-box input:checked + .svg-check {
  visibility: visible;
  background-color: #5f3dc4;
}

.default-form {
  @apply w-72 h-10 border outline-none rounded-md text-sm py-2.5 px-10 mb-10;
}

.svg-form {
  @apply absolute right-3.5;
  top: 2.875rem;
}

.svg-form-left {
  @apply absolute left-3.5 top-11;
}

/* Radio buttons*/
input[type='radio']:checked {
  background-color: #7048e8;
}

.radio-button:active > label input[type='radio']:checked {
  background-color: #7048e8;
}
.radio__container__h {
  @apply block h-4 w-4 relative cursor-pointer rounded-full group;
}

.radio__input__h {
  @apply opacity-0;
}

.radio__checkmark__h {
  @apply flex justify-center items-center absolute top-0 left-0 h-4 w-4 bg-white border border-solid border-primary rounded-full;
}

.radio__checkmark__h {
  @apply group-hover:bg-grey-shd5;
}

.radio__input__h:checked ~ .radio__checkmark__h {
  @apply bg-primary;
}

.radio__dot__h {
  @apply w-1.5 h-1.5 hidden bg-white rounded-full;
}

.radio__input__h:checked ~ .radio__checkmark__h .radio__dot__h {
  @apply block;
}
.switch {
  @apply relative inline-flex w-7 h-4;
}

/* Hide default HTML checkbox */
.switch input {
  @apply w-0 h-0 opacity-0;
}

/* The slider */
.slider {
  @apply absolute cursor-pointer top-0 left-0 right-0 bottom-0 bg-grey-shd4;
  transition: 0.2s;
}

.slider:before {
  @apply absolute;
  content: '';
  height: 10px;
  width: 10px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  @apply bg-primary;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
  @apply rounded-xl;
}

.slider.round:before {
  border-radius: 50%;
}

/************************************* Twfiek Section start ******************************/

.atom .parent .child .tab {
  @apply flex justify-evenly items-center rounded-full w-6xl h-2xl bg-white ml-6;
}

.atom .parent .child .btn-primary {
  @apply bg-primary hover:bg-primary-hover focus:ring-dark-btnFocus rounded-full text-white focus:outline-none ml-4 mt-4;
}

.atom .parent .child .btn-secondary {
  @apply bg-white hover:bg-grey-bg ring-1 ring-primary text-primary;
}

.atom .parent .child .btn-text {
  @apply bg-none text-accent hover:text-accent-hover focus:underline focus:outline-none ml-4 mt-4;
}

.atom .parent .child .form-control {
  @apply flex mb-4 mr-10;
}

.atom .parent .child .form-control form {
  @apply relative;
}

.atom .parent .child .form-control form .label {
  @apply text-xs text-dark-grey font-light mb-xs block;
}

.atom .parent .child .form-control form .form-input {
  @apply w-19xl h-3xl py-xsvv px-m text-sm text-grey-shd1 font-normal border-grey-shd5 border rounded-md hover:border-grey-shd2 focus:text-dark-grey focus:border-dark focus:outline-none;
}

.atom .parent .child .form-control form .input-icon {
  @apply hidden;
}

.atom .parent .child .form-control form .form-input:focus + .input-icon {
  @apply block absolute top-38 right-12;
}

.atom
  .parent
  .child
  .form-control
  form
  .form-input:focus::-webkit-input-placeholder {
  @apply text-dark;
}

.atom .parent .child .form-control form .form-error {
  @apply border-error focus:border-error;
}

.atom .parent .child .form-control form .form-success {
  @apply border-success focus:border-success;
}

.atom .parent .child .form-control form .form-disabled {
  @apply text-grey-shd4 border-grey-shd7;
}

.atom .parent .child .form-control form .input-right-icon {
  @apply absolute top-38 right-12;
}

.atom .parent .child .form-control form .form-input:focus + .icon-focus {
  @apply absolute top-38 right-40;
}

.atom .parent .child .form-control form .form-left-input {
  @apply pl-xxvl;
}

.atom .parent .child .form-control form .home-icon {
  @apply absolute top-38 left-12 opacity-50;
}

.atom .parent .child .form-control form .form-input:hover ~ .home-icon {
  @apply opacity-70;
}

.atom .parent .child .form-control form .form-left-input:focus ~ .home-icon {
  @apply opacity-100;
}

.atom .parent .child .form-control form .no-label-icon {
  @apply top-3;
}

.atom .parent .child .form-control form .form-input:focus + .no-label-icon {
  @apply top-3;
}

.atom .parent .child .form-control form .prefix {
  @apply font-normal text-sm text-grey;
}

.atom .parent .child .form-control form .devider {
  @apply w-px h-4 bg-grey-shd6 ml-xl;
}

.atom .parent .child .form-control form .prefix-input {
  @apply pl-3xl;
}

.atom .parent .child .form-control form .dropdown {
  @apply ml-l;
}

.atom .parent .child .form-control form .dropdown-devider {
  @apply ml-xvxl;
}

.atom .parent .child .form-control form .dropdown-input {
  @apply pl-4xl;
}

.parent .child .toggle-box .toggler {
  @apply w-2xl h-xl rounded-full bg-grey-shd4 ml-6 mt-6 relative flex items-center px-1 cursor-pointer hover:bg-grey-shd3 transition duration-100 ease-out;
}

.parent .child .toggle-box .toggler .circle {
  @apply bg-white w-4 h-4 rounded-full transition-all duration-500 ease-in-out;
}

.parent .child .toggle-box .checkbox {
  @apply w-0 h-0 opacity-0 absolute;
}

.parent .child .toggle-box .checkbox:checked + .toggler .circle {
  @apply bg-primary transform translate-x-4;
}

.parent .child .toggle-box .checkbox:checked + .toggler {
  @apply bg-primary-shd7 border-2 border-primary-shd5;
}

.parent .child .toggle-box .checkbox:checked + .toggler:hover {
  @apply bg-primary-shd6;
}

.parent .child .toggle-box .toggler-small {
  @apply w-xl h-4 px-4xs;
}

.parent .child .toggle-box .toggler-small .circle-small {
  @apply w-2.5 h-2.5;
}

.parent .child .toggle-box .checkbox:checked + .toggler-small .circle-small {
  @apply translate-x-2.5;
}

.parent .child .checkbox-cat {
  @apply relative;
}

.parent .child .checkbox-cat .checked {
  @apply w-0 h-0 opacity-0 absolute;
}

.parent .child .checkbox-cat .checkmark {
  @apply ml-6 mb-6 cursor-pointer bg-white w-6 h-6 border border-grey-shd4 flex items-center justify-center hover:border-grey-shd1 transition-all duration-500 ease-out;
}

.parent .child .checkbox-cat .checked:checked + .checkmark {
  @apply bg-primary;
}

.parent .child .checkbox-cat .checked:checked + .checkmark:hover {
  @apply bg-primary-hover;
}

.parent .child .checkbox-cat .checkmark-small {
  @apply w-4 h-4;
}

.parent .child .radio-cat {
  @apply relative;
}

.parent .child .radio-cat .radio {
  @apply w-0 h-0 opacity-0 absolute;
}

.parent .child .radio-cat .radio-box {
  @apply ml-6 mt-6 cursor-pointer rounded-full bg-white w-6 h-6 border border-grey-shd4 hover:border-grey-shd1 transition-all duration-500 ease-out;
}

.parent .child .radio-cat .radio:checked + .radio-box {
  @apply border-primary border-7;
}

.parent .child .radio-cat .radio:checked + .radio-box:hover {
  @apply border-primary-hover;
}

.parent .child .radio-cat .radio-small {
  @apply w-4 h-4;
}

.parent .child .radio-cat .radio:checked + .radio-small {
  @apply border-5;
}

/************************************* Twfiek Section end ******************************/
