.btn-primary-large {
  @apply box-border bg-primary-shd1 text-white rounded-xl border-2 border-transparent py-3.5 px-8 text-md font-bold;
}
.btn-primary-med {
  @apply box-border bg-primary-shd1 text-white rounded-xl border-2 border-transparent py-2 px-6 text-base font-medium;
}
.btn-primary-small {
  @apply box-border bg-primary-shd1 text-white rounded-xl border-2 border-transparent py-1.5 px-4 text-sm font-medium;
}
.round-btn {
  @apply bg-primary-shd1 rounded-full  border-2 border-transparent;
}
.round-btn svg {
  fill: #fff;
}
.btn-secoundry-large {
  @apply text-primary-shd1 rounded-xl border-2 border-primary-shd1 py-3.5 px-8 text-md font-bold;
}
.btn-secoundry-med {
  @apply text-primary-shd1 rounded-xl border-2 border-primary-shd1 py-2 px-6 text-base font-medium;
}
.btn-secoundry-small {
  @apply text-primary-shd1 rounded-xl border-2 border-primary-shd1 py-1.5 px-4 text-sm font-medium;
}
.round-btn-secoundry {
  @apply border-primary-shd1 rounded-full  border-2;
}
.txt-btn-large {
  @apply text-md font-bold text-accent-shd1  py-3.5 px-8;
}
.txt-btn-med {
  @apply text-base font-bold text-accent-shd1  py-3.5 px-8;
}
.txt-btn-samll {
  @apply text-sm font-bold text-accent-shd1  py-3.5 px-8;
}
.vote1-percent .progress {
  stroke-dashoffset: calc(175.84 - (175.84 / 100 * 75));
}
.vote2-percent .progress {
  stroke-dashoffset: calc(175.84 - (175.84 / 100 * 25));
}
