.hoverEffect {
  border: 3px solid transparent;
}
.hoverEffect:hover {
  background-color: #5f3dc4;
}
.hoverEffect:focus {
  border: #5f3dc4 3px solid;
}
.btn--secondary:focus {
  border: #5f3dc4 2px solid;
}
/*color 0092C9, 100% not in config with 1 use*/
.text-accent:hover {
  color: #0092c9;
}

.btn--secondary:hover {
  background-color: #fafafc;
}
.btn--primary {
  border: 9px solid red;
}
.btn--primary {
  @apply bg-primary rounded-full text-white font-bold hoverEffect flex items-center justify-center content-center focus:outline-none;
}
.btn--primary--disabled {
  @apply bg-opacity-25 bg-primary rounded-full text-white font-bold outline-none flex items-center justify-center content-center cursor-not-allowed;
}
.btn--secondary {
  @apply text-primary bg-white font-bold border-2 border-primary rounded-full flex items-center justify-center content-center focus:outline-none;
}

.btn--secondary--disabled {
  @apply border-2 border-grey-shd2 bg-white rounded-full text-grey-shd2 font-bold outline-none flex items-center justify-center content-center cursor-not-allowed;
}
.tab-poll {
  @apply group text-sm relative flex items-center justify-around px-3.5 py-1.5 h-14 border border-grey border-opacity-0 bg-grey-shd7  hover:bg-white hover:border-opacity-100  rounded-full focus:outline-none transition duration-500 ease-in-out;
}
.tab-poll {
  padding-right: 12px;
}
.checkmark {
  @apply h-4 w-4 rounded-full border border-primary  bg-white text-transparent absolute left-0 top-1 mr-2 hover:bg-grey-shd4 transition duration-500 ease-in-out;
}

input:checked ~ .checkmark {
  background-color: #7048e8;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}
/* Show the indicator (dot/circle) when checked */
input:checked ~ .checkmark:after {
  display: block;
}
/* Style the indicator (dot/circle) */
.checkmark:after {
  top: 4px;
  left: 4px;
  width: 6px;
  height: 6px;
  border-radius: 999px;
  background: white;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
}

/*************************************Safei Section End******************************/
.radio__container {
  @apply block h-6 w-6 relative cursor-pointer rounded-full group;
}

/* Hide the browser's default radio button */
.radio__input {
  @apply opacity-0;
}

/* Create a custom radio button */
.radio__checkmark {
  @apply flex justify-center items-center absolute top-0 left-0 h-6 w-6 bg-white border border-solid border-primary rounded-full;
}

/* On mouse-over, add a grey background color */
.radio__checkmark {
  @apply group-hover:bg-grey-shd5;
}

/* When the radio button is checked, add a blue background */
.radio__input:checked ~ .radio__checkmark {
  @apply bg-primary;
}

.radio__dot {
  @apply w-2 h-2 hidden bg-white rounded-full;
}

/* Show the indicator (dot/circle) when checked */
.radio__input:checked ~ .radio__checkmark .radio__dot {
  @apply block;
}
.hover-state:hover {
  background-color: #5f3dc4;
}

.focus-state:focus {
  border: 2px solid #5034a6;
}

.opacity {
  opacity: 0.24;
}

.btn-primary {
  @apply bg-primary text-white rounded-full hover-state focus:outline-none focus-state flex items-center justify-center content-center mb-5;
}

.btn-primary-opacity {
  @apply bg-primary bg-opacity-24 text-white rounded-full focus:outline-none flex items-center justify-center content-center mb-5;
}

.btn-secondary {
  @apply bg-white text-primary border border-primary rounded-full hover:bg-grey-bg focus:outline-none focus-state flex items-center justify-center content-center mb-5;
}

.btn-secondary-opacity {
  @apply bg-white opacity-25 text-primary border border-primary rounded-full  focus:outline-none flex items-center justify-center content-center mb-5;
}

.check-it {
  @apply w-l h-l appearance-none outline-none border border-grey-shd4 rounded-sm text-white align-baseline;
}

.svg-check {
  @apply absolute bottom-3.5 invisible;
}

.check-box input:checked,
.check-box input:checked + .svg-check {
  visibility: visible;
  background-color: #5f3dc4;
}

.default-form {
  @apply w-72 h-10 border outline-none rounded-md text-sm py-2.5 px-10 mb-10;
}

.svg-form {
  @apply absolute right-3.5;
  top: 2.875rem;
}

.svg-form-left {
  @apply absolute left-3.5 top-11;
}

/* Radio buttons*/
input[type='radio']:checked {
  background-color: #7048e8;
}

.radio-button:active > label input[type='radio']:checked {
  background-color: #7048e8;
}
