/**************/
/* Buttons */
/**************/
#essam .btn {
  @apply capitalize  flex items-center justify-center gap-sv box-border m-0;
}
#essam .btn-primary {
  @apply bg-primary focus:border-2 focus:border-dark-btnFocus rounded-full text-white hover:bg-primary-hover m-0;
}
#essam .btn-secondary {
  @apply bg-white  text-primary focus:border-dark-btnFocus rounded-full hover:bg-grey-bg m-0;
}
#essam .btn-text {
  @apply bg-transparent text-accent hover:text-accent-hover border-0 focus:underline p-0;
}
#essam .btn svg,
#essam .btn path {
  @apply fill-current;
}
#essam .btn-large {
  @apply text-md font-bold;
}
#essam .btn-medium {
  @apply text-base font-medium;
}
#essam .btn-small {
  @apply text-sm font-medium;
}
#essam .btn-large.btn-primary,
#essam .btn-large.btn-secondary {
  @apply px-xl py-sv;
}
#essam .btn-medium.btn-primary,
#essam .btn-medium.btn-secondary {
  @apply px-l py-xsv text-base;
}
#essam .btn-small.btn-primary,
#essam .btn-small.btn-secondary {
  @apply px-m py-xxsv text-sm;
}
#essam .btn-rounded-large {
  @apply p-s;
}
#essam .btn-rounded-medium,
#essam .btn-rounded-small {
  @apply p-xs;
}
#essam .btn-rounded-large span,
#essam .btn-rounded-medium span,
#essam .btn-rounded-small span {
  @apply flex items-center justify-center;
}
#essam .btn-rounded-large span {
  @apply w-8 h-8;
}
#essam .btn-rounded-medium span {
  @apply w-6 h-6;
}
#essam .btn-rounded-small span {
  @apply w-4 h-4;
}
#essam button[disabled] {
  @apply disabled:opacity-24 cursor-not-allowed;
}
#essam .btn-primary[disabled] {
  @apply hover:bg-primary;
}
#essam .btn-secondary[disabled] {
  @apply hover:bg-white;
}

/**************/
/* Forms */
/**************/
/*Text Inputs*/
#essam .form-group {
  @apply w-19xl;
}
#essam .form-label {
  @apply block font-light text-xs text-dark-grey;
}
#essam .form-control {
  @apply my-xs relative;
}

#essam .form-input {
  @apply box-border border border-grey-shd5 rounded-md px-m py-xsvv w-full text-dark-grey hover:border-grey-shd2 focus:border-dark focus:text-dark;
}
#essam .form-input::placeholder {
  @apply text-grey-shd1;
}
#essam .form-input[disabled] {
  @apply text-grey-shd4 border-grey-shd7 hover:border-grey-shd7 bg-transparent;
}
#essam .form-input.error {
  @apply border-error;
}
#essam .form-input.success {
  @apply border-success;
}
#essam .form-input + .status-icon {
  @apply absolute top-3 right-3 hidden cursor-pointer;
}
#essam .form-input:focus + .status-icon {
  @apply block;
}
#essam .form-input.error + .status-icon,
#essam .form-input.success + .status-icon {
  @apply block;
}
#essam .form-input.input-with-right-icon + .status-icon {
  @apply top-3 right-10;
}
#essam .form-input.input-with-right-icon ~ .control-icon {
  @apply absolute top-3 right-3 cursor-pointer;
}
#essam .form-input.input-with-left-icon {
  @apply pl-xxl;
}
#essam .form-input.input-choice {
  @apply pl-xvxl;
}
#essam .form-input.input-with-prefix {
  @apply pl-4xl;
}
#essam .form-input.input-with-dropdown-prefix {
  @apply pl-20;
}
#essam .form-input.input-with-left-icon ~ .control-icon,
#essam .form-input.input-with-prefix ~ .control-icon,
#essam .form-input.input-with-dropdown-prefix ~ .control-icon {
  @apply absolute top-3 left-3 text-grey;
}
#essam .form-input.input-with-prefix ~ .control-icon,
#essam .form-input.input-with-dropdown-prefix ~ .control-icon {
  @apply pr-xs border-r border-grey-shd6;
}
#essam .form-input.input-with-dropdown-prefix ~ .control-icon {
  @apply flex justify-between items-center;
}
#essam .form-input.input-with-dropdown-prefix ~ .control-icon svg {
  @apply ml-xxs;
}
#essam .form-input.input-choice ~ .control-icon {
  @apply absolute top-xs left-xs text-grey bg-grey-shd7 py-3xs px-xs;
}
/*Text Inputs*/
/*Toggles*/
#essam .toggle-button {
  @apply relative;
}
#essam .toggle-button .toggle-checkbox {
  @apply absolute top-0 left-0 opacity-0;
  z-index: -1;
}
#essam .toggle-button .toggle-checkbox:checked + .toggle-btn-body {
  @apply border-2 border-primary-shd5 bg-primary-shd7;
}
#essam .toggle-button .toggle-checkbox:focus + .toggle-btn-body {
  @apply border-grey-shd3 border-2;
}
#essam
  .toggle-button
  .toggle-checkbox:checked
  + .toggle-btn-body
  .toggle-btn-head {
  @apply bg-primary transform translate-x-4;
}

#essam
  .toggle-button.small
  .toggle-checkbox:checked
  + .toggle-btn-body
  .toggle-btn-head {
  @apply bg-primary transform translate-x-2;
}

#essam .toggle-button .toggle-btn-body {
  @apply w-2xl h-l;
}
#essam .toggle-button.small .toggle-btn-body {
  @apply w-xl h-4;
}

#essam .toggle-button .toggle-btn-body,
#essam .toggle-button.small .toggle-btn-body {
  @apply block flex items-center bg-grey-shd4 rounded-full p-xxs hover:bg-grey-shd3 cursor-pointer transition duration-500 ease-in-out;
}
#essam .toggle-button .toggle-btn-head {
  @apply w-m h-m;
}
#essam .toggle-button.small .toggle-btn-head {
  @apply w-2.5 h-2.5;
}
#essam .toggle-button .toggle-btn-head,
#essam .toggle-button.small .toggle-btn-head {
  @apply bg-white rounded-full transition duration-500 ease-in-out;
}
#essam .toggle-button .toggle-checkbox[disabled] + .toggle-btn-body {
  @apply bg-grey-shd6 hover:bg-grey-shd6;
}
/*Toggles*/
/*Checkboxes*/
#essam .checkbox {
  @apply relative;
}
#essam .checkbox .checkbox-input {
  @apply absolute top-0 left-0 opacity-0;
  z-index: -1;
}
#essam .checkbox .checkbox-input:checked + .check-box .check-mark {
  @apply block;
}
#essam .checkbox .checkbox-input:checked + .check-box {
  @apply bg-primary hover:bg-primary-hover;
}
#essam .checkbox .checkbox-input:focus + .check-box {
  @apply border-grey-shd3 border-2;
}
#essam .checkbox .check-box {
  @apply w-6 h-6;
}
#essam .checkbox.small .check-box {
  @apply w-4 h-4;
}
#essam .checkbox.small .check-box,
#essam .checkbox .check-box {
  @apply border border-grey-shd4 block rounded-sm flex items-center justify-center transition duration-200 ease-in-out hover:border-grey-shd1 relative;
  z-index: 1;
}
#essam .checkbox .check-box .check-mark {
  @apply hidden;
}
#essam .checkbox .checkbox-input[disabled] + .check-box {
  @apply border-grey-shd6 hover:border-grey-shd6;
}
#essam .checkbox .checkbox-input[disabled][checked] + .check-box {
  @apply bg-primary-shd7 hover:bg-primary-shd7;
}
/*Checkboxes*/
/*Radios*/
#essam .radio-button {
  @apply relative;
}
#essam .radio-button .radio-input {
  @apply absolute top-0 left-0 opacity-0;
  z-index: -1;
}
#essam .radio-button .radio-btn .circle-mark {
  @apply hidden;
}
#essam .radio-button .radio-btn {
  @apply w-6 h-6;
}
#essam .radio-button.small .radio-btn {
  @apply w-4 h-4;
}
#essam .radio-button .radio-btn,
#essam .radio-button.small .radio-btn {
  @apply rounded-full border border-grey-shd4 block hover:border-grey-shd1 flex items-center justify-center;
}
#essam .radio-button .radio-btn .circle-mark {
  @apply w-2.5 h-2.5;
}
#essam .radio-button.small .radio-btn .circle-mark {
  @apply w-1.5 h-1.5;
}
#essam .radio-button.small .radio-btn .circle-mark,
#essam .radio-button .radio-btn .circle-mark {
  @apply bg-white rounded-full;
}
#essam .radio-button .radio-input:checked + .radio-btn {
  @apply bg-primary hover:bg-primary-hover;
}
#essam .radio-button .radio-input:focus + .radio-btn {
  @apply border-grey-shd3 border-2;
}
#essam .radio-button .radio-input:checked + .radio-btn .circle-mark,
#essam .radio-button .radio-input[disabled] + .radio-btn .circle-mark {
  @apply block;
}
#essam .radio-button .radio-input[disabled] + .radio-btn {
  @apply border-grey-shd6 hover:border-grey-shd6;
}
#essam .radio-button .radio-input[disabled][checked] + .radio-btn {
  @apply bg-primary-shd7 hover:bg-primary-shd7;
}
/*Radios*/
/**************/
/* Forms */
/**************/
/* for the sake of presentation*/
#essam .btn,
#essam .form-group {
  @apply m-1;
}
/* for the sake of presentation*/
