*{
  @apply box-border;
}
.backdrop-blur{
  filter: blur(16px);
}
.input-container{
    @apply flex mb-5 align-middle items-center rounded-md border border-grey-shd5 border-opacity-100 bg-white px-4;
}
.input-container-focus{
    @apply flex mb-5 align-middle items-center rounded-md border border-dark border-opacity-100 bg-white px-4;
}
.input-container-error{
    @apply flex mb-5 align-middle items-center rounded-md border border-error border-opacity-100 bg-white px-4;
}
.input-container-success{
    @apply flex mb-5 align-middle items-center rounded-md border border-success border-opacity-100 bg-white px-4;
}
.input-field {
    @apply text-sm outline-none focus:outline-none w-80 h-10;
}
.input-icon{
    @apply min-w-0 align-middle justify-center;
}
.input-check{
    @apply rounded-sm w-6 h-6 border border-grey-shd4;
}
.input-check:checked .input-check{
    @apply rounded-sm w-6 h-6 border border-primary bg-primary;
}
.input-check-checked{
    @apply rounded-sm w-6 h-6 border border-primary bg-primary;
}
.switchBtn{
    @apply relative inline-block rounded-xl h-6 w-4xxl align-middle;
}
.switchBtn input{
    @apply opacity-0 w-0 h-0;
}
.round{
    @apply absolute cursor-pointer top-0 bottom-0 left-0 right-0 bg-grey-shd4 transition duration-300 rounded-xl inline-block;
}
.round:before{
    @apply absolute cursor-pointer w-4 h-4 left-1 top-1 bg-white transition duration-300 rounded-full;
    content: "";
}
.switchBtn input:checked + .round {
    @apply bg-primary-shd7;
}
.switchBtn input:checked + .round:before {
    @apply bg-primary;
}
.switchBtn input:checked + .round:before {
    @apply transform translate-x-4;
}
.switchBtn:hover , .switchBtn:focus{
    @apply border-2 border-primary-shd5;
}
.switchBtn-sm{
    @apply h-4 w-7;
}
.round-sm:before{
    @apply w-2.5 h-2.5 top-3xs left-3xs;
}
.loader{
    @apply border-r-8 border-b-8 border-error w-14 h-14 rounded-br-full;
   /* border-radius: 0 0 3.5rem 0;*/
}
.loader-x{
    @apply border-r-8 border-b-8 border-primary w-14 h-14 rounded-tl-full rounded-b-full;
}
/********* avatar ************/
.avatar{
    @apply w-14 h-14 rounded-xl;
}
.avatar-md{
    @apply w-10 h-10 rounded-xl;
}
.avatar-sm{
    @apply w-8 h-8 rounded-xl;
}
/******* custom radio *********/
/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkContainer {
  @apply block relative pl-8 mb-4 cursor-pointer text-lg select-none;
}

/* Hide the browser's default checkbox */
.checkContainer input {
  @apply absolute opacity-0 cursor-pointer h-0 w-0;
}
/* Create a custom checkbox */
.checkspan {
  @apply absolute top-0 left-0 h-6 w-6 bg-primary-shd7;
}
/* On mouse-over, add a grey background color */
.checkContainer:hover input ~ .checkspan {
  @apply border border-primary;
}
/* When the checkbox is checked, add a blue background */
.checkContainer input:checked ~ .checkspan {
  @apply bg-primary;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkspan:after {
  content: "";
  @apply absolute hidden;
}
/* Show the checkmark when checked */
.checkContainer input:checked ~ .checkspan:after {
  @apply block;
}
/* Style the checkmark/indicator */
.checkContainer .checkspan:after {
  @apply w-1 h-3 border border-white transform rotate-45;
  left: 43.05%;
  top: 28.39%;
  border-width: 0 3px 3px 0;
}
/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  @apply bg-white;
}

.container input:checked ~ .checkmark {
  @apply bg-primary
}

.checkmark:after {
  content: "";
  @apply absolute hidden;
}

.container input:checked ~ .checkmark:after {
  @apply block;
}

.container .checkmark:after {
  @apply bg-white rounded-full;
  top: 8px;
  left: 7px;
  width: 9px;
  height: 9px;
}
