.hoverEffect {
  border: 3px solid transparent;
}
.hoverEffect:hover {
  background-color: #5f3dc4;
}
.hoverEffect:focus {
  border: #5f3dc4 3px solid;
}
.btn--secondary:focus {
  border: #5f3dc4 2px solid;
}
/*color 0092C9, 100% not in config with 1 use*/
.text-accent:hover {
  color: #0092c9;
}

.btn--secondary:hover {
  background-color: #fafafc;
}
.btn--primary{
  border: 9px solid red;
}
.btn--primary {
  @apply bg-primary rounded-full text-white font-bold hoverEffect flex items-center justify-center content-center focus:outline-none;
}
.btn--primary--disabled {
  @apply bg-opacity-25 bg-primary rounded-full text-white font-bold outline-none flex items-center justify-center content-center cursor-not-allowed;
}
.btn--secondary {
  @apply text-primary bg-white font-bold border-2 border-primary rounded-full flex items-center justify-center content-center focus:outline-none;
}

.btn--secondary--disabled {
  @apply border-2 border-grey-shd2 bg-white rounded-full text-grey-shd2 font-bold outline-none flex items-center justify-center content-center cursor-not-allowed;
}
.radio__container {
  @apply block h-6 w-6 relative cursor-pointer rounded-full group;
}

/* Hide the browser's default radio button */
.radio__input {
  @apply opacity-0;
}

/* Create a custom radio button */
.radio__checkmark {
  @apply flex justify-center items-center absolute top-0 left-0 h-6 w-6 bg-white border border-solid border-primary rounded-full;
}

/* On mouse-over, add a grey background color */
.radio__checkmark {
  @apply group-hover:bg-grey-shd5;
}

/* When the radio button is checked, add a blue background */
.radio__input:checked ~ .radio__checkmark {
  @apply bg-primary;
}

.radio__dot {
  @apply w-2 h-2 hidden bg-white rounded-full;
}

/* Show the indicator (dot/circle) when checked */
.radio__input:checked ~ .radio__checkmark .radio__dot {
  @apply block;
}
