body {
  background-color: white;
}

.btn {
  @apply bg-primary justify-center align-middle  rounded-xl text-white  p-1 cursor-pointer ml-3 font-sans;
}
.btn-disabled {
  @apply bg-primary  justify-center align-middle rounded-xl text-white  p-1 cursor-default opacity-25 ml-3;
}

.btn-secondery {
  @apply bg-white justify-center align-middle  rounded-xl text-primary  p-1 cursor-pointer ml-3 border-primary border-2;
}

.btn-secondery-disabled {
  @apply bg-white  justify-center align-middle rounded-xl text-primary  p-1 cursor-default opacity-25 ml-3 border-solid border-primary border-2;
}

.btn-secondery:hover {
  @apply bg-grey-bg;
}

.btn-secondery:focus {
  @apply border-2;
}

.btn:hover {
  background-color: #5f3dc4;
}

.btn:focus {
  @apply border-2;
}

.btn-circle-radius {
  border-radius: 50%;
}
